azul = #3f91cc
gris = #eaebed


body
	background #5a9cc2
	
#contenedor
	margin 25px auto
	width 1000px

	header
		background white
		border-radius 10px 10px 0 0
		width 100%
		height 50px
	
	#contenido
		background gris
		width 100%
		height 800px

